:root {
    --fc-neutral-bg-color: black;
    --fc-page-bg-color: black;
    --fc-today-bg-color: #2f2f2f;
    --fc-small-font-size: .75em;
    --fc-border-color: #727272;
    --fc-button-bg-color: #29b6f6;
    --fc-button-hover-bg-color: #29b6f6
}

.fc {
    line-height: 1.25;

    .fc-timegrid-slot {
        height: 40px;
    }
}